<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Lab</title>
</head>
<body>
    <h1>Student List</h1>
    <ul>
        <% students.forEach(function(s) { %>
            <li>
                <%= s.name %>
                -
                <%= s.attendance ? 'Battle of New York' : 'Not in MCU' %>
            </li>
        <% }); %>
    </ul>
</body>
</html>